<!DOCTYPE html>
<html>
    <head>
        <title>Hr</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <%= csrf_meta_tags %>
        <meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<title>Benandjess</title>
    		<meta name="description" content="Reconciling your past to release your future"/>
    		<meta name="keywords" content="Heart Reconciliation reconcilers inner healing "/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
    <% unless flash.empty?  %>
          <script type="text/javascript">
              <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info').gsub('alert', 'custom_error') %>
              <% if type!="toastr_error" %>
              toastr['<%= type %>']('<%= f[1] %>');
              <% end %>

              <% end %>
          </script>

          <% if flash[:toastr_error] %>
          <script type="text/javascript">
              <% flash[:toastr_error].each do |message| %>
              toastr.error('<%= message%>');
              <% end %>
          </script>
          <% end %>
          <% end %>
        <%= yield %>
    </body>
</html>
